html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body, html {
	margin:0;
	padding: 0;
	display: block;
	font-size:100%;
	font-family:$baseFont;
  color:$darkGray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
	overflow-x:hidden;
}

p {
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 300;
  margin:0 0 1em 0;

  a {
    font-weight: 600;
    text-decoration: none;
    color:$primary;
    position: relative;
    z-index: 2;
		cursor: pointer !important;

    &:hover {
      text-decoration: none;
      color:darken($primary, 5%);
    }
  } // a
} // p

// svg icons
[class^="icon-"],
[class*=" icon-"] {
  height: 32px;
  width: 32px;
  display: inline-block;
  fill: #fff;
}


section {
	min-height: 100px;
	height:auto;
	display: block;
	float: left;
	position: relative;

	@include breakpoint(narrow){
		min-height: 100vh;
	}
}

.page {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	width:100%;
}


// initial state (remove transitions on initial page load)
body.init {
	#sidebar {
	  transition: none !important;

	  .bg,
	  .altTitle,
	  .socialLinks {
	    transition: none !important;
	  }
	}

	#content {
		transition: none !important;
	}
}
