#sidebar {
  width: 100%;
  height: $sidebarFixedHeight;
  position: fixed;
  display: block;
  top:0;
  left:0;
  background: linear-gradient(45deg, $primary 0%, lighten($primary, 40%) 100%);
  transition:all linear .2s;
  z-index: 500;
  border-bottom:1px solid darken($primary, .5%);

  @include breakpoint(narrow) {
    width: $sidebarWidth;
    height: 100vh;
    z-index: 1;
    border-bottom: none;
  }

  .bg {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-position: 55% 56% !important;
    opacity:.1;
    transition:all linear .2s;
    z-index: 100;

    @include breakpoint(narrow) {
      opacity: .2;
      background-position: center bottom !important;
    }
  } // .bg

  .altTitle {
		position: absolute;
    top:0;
    color:#fff;
		left:20px;
		z-index: 100;
		font-weight: 300;
		text-decoration: none;
		font-size: 24px;
    line-height: 60px;
    z-index: 200;
    transition: all .2s ease, opacity .3s ease .1s;
    opacity: 1;
    margin: 0;
    display: block;

		&:hover {
			color:rgba(#fff, 0.75);
		}

    @include breakpoint(narrow) {
      position: relative;
      left: auto;
      top: auto;
      font-size:2vw;
      margin: 30px 0 .5vw 20px;
      padding: 0;
      line-height: inherit;
    }

    @include breakpoint(wide) {
      font-size: 1.8vw;
    }

    @include breakpoint(super) {
      font-size: 1.7vw;
    }
	} // .altTitle

  .contact {
    display: block;
    position: absolute;
    top:19px;
    right:18px;
    height: 26px;
    line-height: 26px;
    z-index: 200;
    text-decoration: none;
    color:#fff;
    font-size: .9em;
    font-weight: 400;
    transition: all .2s ease, opacity .3s ease .1s;
    opacity: 1;

    @include breakpoint(narrow) {
      display: none;
    }

    svg {
      width: 17px;
      height: 100%;
      position: relative;
      top:50%;
      transform:translateY(-50%);
      float: left;
      margin:-1px 6px 0 0;
    }
  } // .contact

  .socialLinks {
		position: relative;
		z-index: 300;
		transition: all .2s ease, opacity .3s ease .1s;
    opacity: 0;
    margin: 0 0 0 20px;

		a {
			display: block;
			float: left;
			width: 2vw;
			height: 2vw;
      max-width: 28px;
      max-height: 28px;
			margin:0 1.5vw 0 0;
			transition:all linear .2s;

      @include breakpoint(wide) {
        width: 1.9vw;
        height: 1.9vw;
      }

      @include breakpoint(wide) {
        width: 1.5vw;
        height: 1.5vw;
      }

			svg {
				max-width: 100%;
				display: block;
				transition:all linear .2s;
			}

			&:hover {
				opacity: .5;
			}
		} // a

		@include breakpoint(narrow) {
			display: block;
      opacity: 1;
		}
	} // .socialLinks


  // expanded view
  &.expanded {
    width: 100%;
  	height: $sidebarFeaturedFixedHeight;
    border-bottom:1px solid transparent;
    position: absolute;

    @include breakpoint(narrow) {
      width: $sidebarFeaturedWidth;
      height: 101vh;
      position: fixed;
    }

    .bg {
      background-position: left -2vh !important;
      opacity: .9;

      @include breakpoint(narrow) {
        background-position: 56% -1% !important;
      }
    }

    .altTitle {
      top: -100px;
      opacity: 0;

      @include breakpoint(narrow) {
        top: 20px;
        left: -300px;
      }
    }

    .contact {
      top: -100px;
      opacity: 0;
    }

    .socialLinks {
      left: -50vw;
      opacity: 0;
    }
  } // .expanded
} // #sidebar
